.card {
	border-style: solid;
	border-image-width: 7.5px;
	border-image-slice: 15;
	border-image-repeat: round;
	border-image-source: url("../../../images/border.png");
	padding: 4px;
	width: 175px;
	height: 220px;
	background: hsl(36, 66%, 45%);
	color: #000;

	&__img {
		height: 90px;
		width: 100%;
	}

	&__name {
		text-align: center;
		font-weight: 700;
		margin: 0;
		font-size: 16px;
	}

	&__type {
		text-align: center;
		font-weight: 700;
		margin: 0;

		&-spell {
			color: red;
		}
	}

	&__text {
		padding: 0 5px 5px 5px;
		text-align: center;
	}
}
