.location-block {
	padding: 15px 40px;
	background: url("../../../../images/location-bg.png");
	background-size: 100% 100%;
	text-align: center;
	color: black;

	&__name {
		font-size: 20px;
		margin: 0 0 5px;
	}
	&__influence {
		font-size: 16px;
		margin: 0;
	}
}
